## Analysis

-A **primary key's** main features are:
- It must contain a unique value for each row of data.
- It cannot contain null values.
- Every row must have a primary key value.

Hence, in order to find primary keys for all the tables imported, with the purpose of data modelling, I will import all the csv files in the jupyter and make some calculations using python codes in an attempt to find any potential duplicates or null values in the columns.

In [51]:
#importing dependencies
import pandas as pd
from pathlib import Path

## 1. departments table

In [52]:
# Finding path to the CSV file
file = Path('Resources/departments.csv')

In [53]:
# reading the CSV in pandas
departments_df = pd.read_csv(file, encoding="ISO-8859-1")

In [54]:
departments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dept_no    9 non-null      object
 1   dept_name  9 non-null      object
dtypes: object(2)
memory usage: 272.0+ bytes

In [55]:
# Check for duplicates in a "departments" dataframe in "dept_no" column
duplicates = departments_df[departments_df.duplicated(subset='dept_no', keep=False)]

# Print the duplicate values
print(duplicates['dept_no'])

Series([], Name: dept_no, dtype: object)

### Analysis

Based on the calculations, we see that there are no null values in the departments table and also dept_no has no duplicates making it eligible for a primary key. **Hence 'dept_no' is our primary key in the departments table.**

## 2. titles table

In [56]:
# Finding path to the CSV file
file = Path('Resources/titles.csv')

In [57]:
# reading the CSV in pandas
titles_df = pd.read_csv(file, encoding="ISO-8859-1")

In [58]:
titles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ï»¿title_id  7 non-null      object
 1   title        7 non-null      object
dtypes: object(2)
memory usage: 240.0+ bytes

In [59]:
titles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ï»¿title_id  7 non-null      object
 1   title        7 non-null      object
dtypes: object(2)
memory usage: 240.0+ bytes

In [60]:
titles_df.head()

  ï»¿title_id               title
0       s0001               Staff
1       s0002        Senior Staff
2       e0001  Assistant Engineer
3       e0002            Engineer
4       e0003     Senior Engineer

## Analysis

Based on the calculations, we see that there are no null values in the titles table and also if we see by ourselves, we find that title_id has no duplicates making it eligible for a primary key. **Hence 'title_id' is our primary key in the titles table.**

## 3. dept_emp table

In [61]:
# Finding path to the CSV file
file = Path('Resources/dept_emp.csv')

In [62]:
# reading the CSV in pandas
dept_emp_df = pd.read_csv(file, encoding="ISO-8859-1")

In [63]:
dept_emp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331603 entries, 0 to 331602
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   emp_no   331603 non-null  int64
 1   dept_no  331603 non-null  object
dtypes: int64(1), object(1)
memory usage: 5.1+ MB

In [64]:
# Check for duplicates in a "dept_emp_df" dataframe in "emp_no" column
duplicates = dept_emp_df[dept_emp_df.duplicated(subset='emp_no', keep=False)]

# Print the duplicate values
print(duplicates['emp_no'])

9          10010
10         10010
18         10018
19         10018
30         10029
           ...
331576    499975
331584    499983
331585    499983
331594    499992
331595    499992
Name: emp_no, Length: 63158, dtype: int64

In [65]:
# Check for duplicates in a "dept_emp_df" dataframe in "dept_no" column
duplicates = dept_emp_df[dept_emp_df.duplicated(subset='dept_no', keep=False)]

# Print the duplicate values
print(duplicates['dept_no'])

0         d005
1         d007
2         d004
3         d004
4         d003
          ...
331598    d004
331599    d004
331600    d005
331601    d002
331602    d004
Name: dept_no, Length: 331603, dtype: object

In [66]:
# Check for missing values in the dept_emp_df DataFrame
missing_values =dept_emp_df.isnull()

# Print the DataFrame with True for missing values
print(missing_values)

        emp_no  dept_no
0        False    False
1        False    False
2        False    False
3        False    False
4        False    False
...        ...      ...
331598   False    False
331599   False    False
331600   False    False
331601   False    False
331602   False    False

[331603 rows x 2 columns]

## Analysis

Based on the calculations above , we came to know that **dept_emp** table has no null values, but they also dont have single primary key, as both columns have duplicate value. Hence considering the importance of primary key, here we will create a **composite key using both 'emp_no' and 'dept_no' columns to ensure the uniqueness of each row in the 'dept_emp' table** based on the combination of employee numbers and department numbers.

### 4. dept_manager table

In [67]:
# Finding path to the CSV file
file = Path('Resources/dept_manager.csv')

In [68]:
# reading the CSV in pandas
dept_manager_df = pd.read_csv(file, encoding="ISO-8859-1")

In [69]:
dept_manager_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dept_no  24 non-null     object
 1   emp_no   24 non-null     int64
dtypes: int64(1), object(1)
memory usage: 512.0+ bytes

In [70]:
# Check for duplicates in a "dept_manager_df" in the dept_no column
duplicates = dept_manager_df[dept_manager_df.duplicated(subset='dept_no', keep=False)]

# Print the duplicate values
print(duplicates['dept_no'])

0     d001
1     d001
2     d002
3     d002
4     d003
5     d003
6     d004
7     d004
8     d004
9     d004
10    d005
11    d005
12    d006
13    d006
14    d006
15    d006
16    d007
17    d007
18    d008
19    d008
20    d009
21    d009
22    d009
23    d009
Name: dept_no, dtype: object

In [71]:
# Check for duplicates in a "dept_manager_df" in the emp_no column
duplicates = dept_manager_df[dept_manager_df.duplicated(subset='emp_no', keep=False)]

# Print the duplicate values
print(duplicates['emp_no'])

Series([], Name: emp_no, dtype: int64)

In [72]:
# Check for missing values in the dept_manager_df DataFrame
missing_values =dept_manager_df.isnull()

# Print the DataFrame with True for missing values
print(missing_values)

    dept_no  emp_no
0     False   False
1     False   False
2     False   False
3     False   False
4     False   False
5     False   False
6     False   False
7     False   False
8     False   False
9     False   False
10    False   False
11    False   False
12    False   False
13    False   False
14    False   False
15    False   False
16    False   False
17    False   False
18    False   False
19    False   False
20    False   False
21    False   False
22    False   False
23    False   False

## Analysis

Based on the calculations above , we came to know that **dept_manager** table has no null values.Likewise, here, column 'dept_no' had many duplicate values while'emp_no' has no duplicate values and also no null values making it a perfect primary key for this particular table.**Hence emp_no is our primary key in the dept_manager table.**

### 5. employees table

In [73]:
# Finding path to the CSV file
file = Path('Resources/employees.csv')

In [74]:
# reading the CSV in pandas
employees_df = pd.read_csv(file, encoding="ISO-8859-1")

In [75]:
employees_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   emp_no        300024 non-null  int64
 1   emp_title_id  300024 non-null  object
 2   birth_date    300024 non-null  object
 3   first_name    300024 non-null  object
 4   last_name     300024 non-null  object
 5   sex           300024 non-null  object
 6   hire_date     300024 non-null  object
dtypes: int64(1), object(6)
memory usage: 16.0+ MB

In [80]:
#changing data type of 'birth_date' & 'hire_date' to date data type
employees_df["birth_date"] = pd.to_datetime(employees_df["birth_date"])
employees_df["hire_date"] = pd.to_datetime(employees_df["hire_date"])

In [81]:
employees_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   emp_no        300024 non-null  int64
 1   emp_title_id  300024 non-null  object
 2   birth_date    300024 non-null  datetime64[ns]
 3   first_name    300024 non-null  object
 4   last_name     300024 non-null  object
 5   sex           300024 non-null  object
 6   hire_date     300024 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 16.0+ MB

In [82]:
# Check for duplicates in a "employees_df" in the emp_no column
duplicates = employees_df[employees_df.duplicated(subset='emp_no', keep=False)]

# Print the duplicate values
print(duplicates['emp_no'])

Series([], Name: emp_no, dtype: int64)

## Analysis

Based on the calculations above , we came to know that **employees** table has no null values.Likewise, here, column 'emp_no' has no duplicates and also no null values making it a perfect primary key for this particular table.**Hence emp_no is our primary key in the employees table.**

### 6. salaries table

In [ ]:
# Finding path to the CSV file
file = Path('Resources/salaries.csv')

In [ ]:
# reading the CSV in pandas
salaries_df = pd.read_csv(file, encoding="ISO-8859-1")

In [ ]:
salaries_df.info()

In [ ]:
# Check for duplicates in a "salaries_df" in the emp_no column
duplicates = employees_df[dept_manager_df.duplicated(subset='emp_no', keep=False)]

# Print the duplicate values
print(duplicates['emp_no'])

## Analysis

Based on the calculations, we see that there are no null values in the table and also emp_no has no duplicates making it eligible for a primary key. **Hence emp_no is our primary key in the salaries table.**